{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body%}
    <div class="content-box">
        <h1 style="font-size: 6rem;
                   color: #D65A31;
                   -webkit-text-stroke: 1.5px #EEEEEE;">
            <i><b>EPHEMERA</b></i>
        </h1><br>
        <h2 class="title">Your Room, Your Chat - Instant Conversations with Ease</h2>
        <br>
    </div>
    <hr><br>

    <div class="home-btn">
        <div class="card text-bg-dark mb-3" style="width: 18rem; border: 2px solid #a3a3a3;">
            <div class="card-body txt-center">
                <form action="/create" method="post">
                    <h3 class="card-title">Create Chatroom</h3>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                    <p class="card-text">
                        Create a Chatroom <br>

                        {% if create_error %}
                            <div>
                                <ul class="error-messages">
                                    <li>{{ create_error }}</li>
                                </ul>
                            </div>
                        {% endif %}

                        <div class="input-group flex-nowrap">
                            <input name="nickname" type="text" class="form-control" placeholder="Choose a nickname">
                        </div><br>
                        <div class="input-group flex-wrap">
                            <input name="participants" type="number" class="form-control" placeholder="Max participants" value="2" min="2" max="8">
                        </div>
                    </p>
                    <button id="create" type="submit">Create Chatroom</button>
                </form>
            </div>
        </div>

        <div class="card text-bg-dark mb-3" style="width: 18rem; border: 2px solid #a3a3a3;">
            <div class="card-body txt-center">
                <form action="/join" method="post">
                    <h3 class="card-title">Join Chatroom</h3>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                    <p class="card-text">
                        Join a Chatroom <br>

                        {% if join_error %}
                            <div>
                                <ul class="error-messages">
                                    <li>{{ join_error }}</li>
                                </ul>
                            </div>
                        {% endif %}

                        <div class="input-group flex-wrap">
                            <input name="nickname" type="text" class="form-control" placeholder="Choose a nickname">
                        </div><br>
                        <div class="input-group flex-wrap">
                            <input name="chatroom_code" type="text" class="form-control" placeholder="Chatroom code" minlength="6" maxlength="6">
                        </div>
                    </p>
                    <button id="join" type="submit">Join Chatroom</button>
                </form>
            </div>
        </div>
    </div>

    <div class="home-btn">
        <a href="#more_info"><button type="button">Learn More</button></a>
    </div><br>
    <hr><br>
    <div id="more_info" class="content-box">
        <h2><b>What you get:</b></h2><br>
        <ul>
            <li>
                <div class="title">Privacy and Security:</div>
                <div class="info indent">Ephemera provide a secure platform where no data is collected, ensuring your privacy.</div>
            </li><br>
            <li>
                <div class="title">Ease Of Use:</div>
                <div class="info indent">Ephemera ensure the interface is simple and intuitive. We make in easy to connect with people Easier and more Secure.</div>
            </li><br>
            <li>
                <div class="title">Anonymity:</div>
                <div class="info indent">You can Create and Join a Chatroom without ever needing to Sign in to ensure your Identity is consealed over the internet.</div>
            </li><br>
            <li>
                <div class="title">Real-Time Updates:</div>
                <div class="info indent">Your messages are sent and received in Real-Time ensuring meaningful conversations.</div>
            </li>
        </ul>
    </div>

{% endblock %}
